@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

@import "tailwindcss";

@theme {
    --font-display: 'Oswald', sans-serif;
    --font-sans: 'Roboto', sans-serif;

    --color-brand-dark: #000000;
    --color-brand-gray: #333333;
    --color-brand-light: #F5F5F5;
    --color-brand-accent: #A0A0A0;
}

/* Custom Base Styles */
@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: var(--font-sans);
        background-color: var(--color-brand-light);
        color: var(--color-brand-dark);
        -webkit-font-smoothing: antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-display);
        text-transform: uppercase;
        letter-spacing: -0.025em;
    }
}